/* фон #FFFFFF; */
/* вторичный фон  #e5e5e5; */
/* цвет заголовков #212121; */
/* цвет основного текста #757575; */
/* акцент #2196F3; */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-background: #ffffff;
  --secondary-background: #f5f4fa;
  --header-footer-background: #2f303a;
  --accent-color: #2196f3;
}

body {
  color: #212121;
  background-color: var(--primary-background);
  font-family: Roboto, sans-serif;
}
/* section 1 */
.hero {
  background-color: var(--header-footer-background);
}
.hero-title {
  color: var(--primary-background);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.link-button {
  background-color: var(--accent-color);
  font-family: Roboto;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.plus {
  display: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.logotip {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
}

.logo-text {
  color: var(--primary-background);
  font-family: Raleway, sans-serif;
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
}

.address {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
}

.adress-link {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.adress-nav {
  color: var(--secondary-text-color);
}

.adress-nav-contact:hover,
.adress-nav-contact:focus {
  color: var(--accent-color);
}

.footer .contact {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  display: block;
  font-style: normal;
}

.hero-title {
  color: var(--primary-background);
}

.site-nav > link {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2x;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.attention-title {
  color: var(-primary-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.attention-text {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
}

.engage-title {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.page-header {
  color: var(-primary-text-color);
}

.site-nav > link:hover,
.site-nav > link:focus {
  color: var(--accent-color);
}

.footer {
  background-color: var(--header-footer-background);
  color: #ffffff;
  font-family: Roboto;
  font-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer > .logo-text {
  color: #ffffff;
}

.footer > .contact {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* portfolio */

.buttons {
  color: var(-primary-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.buttons:hover,
.buttons:focus {
  color: #2196f3;
}

.section {
  color: var(-primary-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-text {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.8;
}
